@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Dancing Script";
}

div.all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #008fff;
  background-image: linear-gradient(90deg, #008fff 0%, #014fd6 51%, #01429a 100%);
  color: white;
  padding: 0.25rem 0;
}
div.all header.cabecario-site {
  padding: 5px;
  display: flex;
  align-items: center;
}
div.all header.cabecario-site h1.logo {
  margin-left: 0.5rem;
  font-family: "Roboto Slab";
}
div.all header.cabecario-site h1.logo img.imagem-logo {
  width: 50px;
  position: absolute;
  top: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
div.all header.cabecario-site button.botao-estilo {
  display: none;
}
div.all nav.cabecario-links {
  display: flex;
}
div.all nav.cabecario-links ul.links-cabecario {
  display: flex;
  list-style: none;
}
div.all nav.cabecario-links ul.links-cabecario li.links {
  padding: 1rem;
}
div.all nav.cabecario-links ul.links-cabecario li.links a {
  text-decoration: none;
  font-family: "Ubuntu";
  color: white;
}
div.all nav.cabecario-links ul.links-cabecario li.links:hover {
  background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 570px) {
  div.all {
    flex-flow: column nowrap;
  }
  div.all header.cabecario-site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    gap: 1rem;
  }
  div.all header.cabecario-site button.botao-estilo {
    display: block;
    background: transparent;
    border: none;
    font-size: 30px;
    color: white;
  }
  div.all header.cabecario-site h1.logo {
    padding: 0.5rem;
  }
  div.all header.cabecario-site h1.logo img.imagem-logo {
    width: 50px;
    position: absolute;
    top: 20px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  div.all nav.cabecario-links {
    display: none;
    width: 100%;
  }
  div.all nav.cabecario-links ul.links-cabecario {
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
  }
  div.all nav.cabecario-links ul.links-cabecario li:hover {
    background-color: white;
    width: 100%;
    text-align: center;
  }
}
main.conteudo-principal {
  background-color: #008fff;
  background-image: linear-gradient(90deg, #008fff 0%, #0041b5 51%, #003784 100%);
  height: 100vh;
  display: flex;
  padding: 0 5rem;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu";
}
main.conteudo-principal div.tela-informacoes {
  display: flex;
  width: 50%;
  flex-flow: column nowrap;
  gap: 1.5rem;
}
main.conteudo-principal div.tela-informacoes h1.titulo-conteudo {
  width: 100%;
  font-size: 2.5rem;
  color: white;
  line-height: 4rem;
}
main.conteudo-principal div.tela-informacoes h1.titulo-conteudo span.destaque-titulo {
  color: #000000;
}
main.conteudo-principal div.tela-informacoes p.frase-conteudo {
  font-size: 1.2rem;
  font-weight: 600;
}
main.conteudo-principal div.tela-informacoes a.botao-advise {
  background-color: rgb(37, 49, 214);
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Ubuntu";
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 15px;
}
main.conteudo-principal div.tela-informacoes a.botao-advise:hover {
  background-color: rgb(71, 80, 216);
}
main.conteudo-principal img.imagem-informacao {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 800px) {
  main.conteudo-principal {
    flex-flow: column-reverse nowrap;
  }
  main.conteudo-principal div.tela-informacoes {
    width: 100%;
    align-items: center;
  }
  main.conteudo-principal div.tela-informacoes h1.titulo-conteudo {
    width: 100%;
    font-size: 1.5rem;
    color: white;
    line-height: 3rem;
    text-align: center;
  }
  main.conteudo-principal img.imagem-informacao {
    width: 75%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 460px) {
  main.conteudo-principal {
    flex-flow: column-reverse nowrap;
  }
  main.conteudo-principal div.tela-informacoes {
    width: 100%;
    align-items: center;
    gap: 0.95rem;
  }
  main.conteudo-principal div.tela-informacoes h1.titulo-conteudo {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  main.conteudo-principal div.tela-informacoes p.frase-conteudo {
    font-size: 1.05rem;
    width: 100%;
    text-align: center;
  }
  main.conteudo-principal img.imagem-informacao {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 370px) {
  main.conteudo-principal img.imagem-informacao {
    width: 250px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
footer.rodape {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #008fff;
  background-image: linear-gradient(90deg, #008fff 0%, #0041b5 51%, #003784 100%);
  height: 15vh;
}
footer.rodape ul.lista-rodape {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer.rodape ul.lista-rodape li.lista-conteudo {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: 0.9rem;
}
footer.rodape ul.lista-rodape li.lista-conteudo img.imagem-lista {
  width: 50px;
}
footer.rodape ul.lista-rodape li.lista-conteudo a.nome-conteudo {
  font-family: "Ubuntu";
  color: black;
  text-decoration: none;
  text-align: center;
}
footer.rodape ul.lista-rodape li.lista-conteudo a.nome-conteudo:hover {
  color: white;
}/*# sourceMappingURL=style.css.map */