@import '../abstract/variables';

.formulario{
    width:400px;
    min-height:75vh; 
    background:#00000088;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    padding:1.5rem;
    border-radius:1rem;
    color:white;
    gap:2rem;

    h2{
        text-align: center;
        font-size:2.5rem;
        transform:translate(-50%, -50%);
        position:absolute;
        top:30%;
        left:50%;
    }
    .container-form{
        display:flex;
        flex-flow:column nowrap;
        justify-content: center;
            
            label {
                display: flex;
                font-size:1.5rem;
                align-items: center;
                gap:1rem;
                
                img{
                    width:40px;
                    object-fit:cover;
                }
            }

            input {
                padding:1rem;
                border:none;
                background:transparent;
                border-bottom:1px solid rgb(255, 255, 255);
                font-size:1.25rem;
                color:white;
                width:375px;

                &:active, &:focus{
                    background-color: none;
                    border:none;
                    border-bottom:1px solid white;
                    outline: none;
                }
            }
    }
    
    .submit{
        padding:1rem;
        background-color: transparent;
        border:none;
        font-size:1.5rem;
        color:white;
        border-bottom:1px solid white;
        cursor:pointer;
        width:150px;
        transition:border-radius .5s ease-in-out, color .5s ease-in-out;

        &:hover{
            border-radius:1rem;
            color:rgb(72, 167, 255);
            transition:border-radius .5s ease-in-out, color .5s ease-in-out;
        }

        &:active{
            color:red;
        }
        
    }
}

@media screen and (max-width:450px) {
    .formulario {
        width:300px;

        .container-form{
            input {
                width:275px;
            }
        }
    }
}