@import '../../abstract/variables';


div.all{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #008fff;
    background-image: linear-gradient(90deg, #008fff 0%, #014fd6 51%, #01429a 100%);
    
    color:white;

    padding: .25rem 0;

    header.cabecario-site{
        padding:5px;
        
        h1.logo{
            margin-left:.5rem;

            img.imagem-logo{
                width:30px;
            }
        }

        button.botao-estilo{
            display:none;
        }
    }

    nav.cabecario-links{
        display:flex;
        ul.links-cabecario{
            display:flex;
            list-style:none;

            li.links{
                padding:1rem;

                a{
                    text-decoration: none;
                    font-family:$fonte-links;
                    color:white;
                }

                &:hover{
                    background-color: rgb(0, 0, 0);

                }
            }
        }
    }
    }

@media screen and (max-width: 500px) {

    div.all{
        flex-flow:column nowrap;

        header.cabecario-site{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width:96%;
            gap:1rem;

            button.botao-estilo{
                display:block;
                background:transparent;
                border:none;
                font-size:30px;
                color:white;
            }

            h1.logo{
                padding:.5rem;
            }
        }

        nav.cabecario-links{
            display:none;
            width:100%;
            ul.links-cabecario{
                flex-flow:column nowrap;
                width:100%;
                align-items: center;
                li:hover{
                    background-color: white;
                    width:100%;
                    text-align: center;
                }
            }

    }
    }
}