// Imports

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

// Cores 

$cor-principal: #0074ff;


// Fontes


$fonte-principal: "Dancing Script";
$fonte-logo: "Roboto Slab";
$fonte-links: "Ubuntu";